
.card{
    cursor: pointer;
    transition: all 1s cubic-bezier(1,.24,.93,1.01);
}

.card:hover .card-img{
    background-size: fill;
    background-repeat: no-repeat;
}
.card-img{
    background-size: cover;
}

@media (min-width:1024px) {
    .card:hover{
        width: 1920px;
    }
    
    .card:hover .card-img{
        background-size: fill;
        background-repeat: no-repeat;
    }
    .card-img{
        background-size: cover;
    }
}

.card-icon{
    transition: 1s cubic-bezier(1,.24,.93,1.01) ;
}

.card:hover .card-icon{
    transform: rotate(180deg);
}