@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: hsl(224, 32%, 12%);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-image: linear-gradient(45deg, gray, rgb(44, 43, 43)) ;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #535252;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #131313;

}